/*Exercitiu*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    padding: 32px;
    background-color: #eee;
}

.container {
    display: flex;        
    gap: 20px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.column-item {
    background-color: #c21322;
    color: white;
    padding: 16px;
    border-radius: 6px;
    text-align: center;
    font-size: 18px;
    transition: all 0.3s ease;
}

.column-item:hover {
    background-color: #ff4757;
    cursor: pointer;
    transform: scale(1.05);
}
