/*Exercitiu*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    padding: 32px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;         
    gap: 20px;               
    max-width: 900px;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;         
}

label {
    font-size: 14px;
    margin-bottom: 6px;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    font-size: 16px;
}

.submit-button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #222;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;

    flex: 1 1 100%;
}

.submit-button:hover {
    background-color: #444;
}